header{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    background-color: rgb(122, 122, 202);
}

header img{
    width: 200px;
}
.logo{
    display: flex;
    justify-content: center;
    flex: 1;
}
.barra-busqueda{
    display: flex;
    justify-content: center;
    flex: 3;
}
.barra-busqueda img{
    height: 80px;
    width: 80px;
}
.barra-busqueda form{

    width: 90%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.barra-busqueda input{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;

}
.carrito{
    flex: 1;
    display: flex;
    justify-content: center;
}
.carrito img{
    width: 100px;
}
