.presentacion{
    display: grid;
    grid-template-areas: 
        "imagen anuncio";
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}
.imagen{
    grid-area: imagen;
    background-color: rgb(124, 110, 93);
    margin: 10px;
}
.anuncio{
    grid-area: anuncio;
    background-color: aqua;
    margin: 10px;
}

.informacion{
    display: grid;
    grid-template-areas: 
        "articulo1 articulo2";
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
}

.articulo1{
    grid-area: articulo1;
    background-color: cadetblue;
    margin: 10px;
}
.articulo2{
    grid-area: articulo2;
    background-color: blueviolet;
    margin: 10px;
}
.productos{
    display: grid;
    grid-template-areas: 
    "producto1 producto2 producto3";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.producto1{
    grid-area: producto1;
    background-color: cadetblue;
    margin: 10px;
}
.producto2{
    grid-area: producto2;
    background-color: whitesmoke;
    margin: 10px;
}
.producto3{
    grid-area: producto3;
    background-color: teal;
    margin: 10px;
}
